:root {
    --c1: #00796b;
    --c2: #4db6ac;
    --c3: #ec407a;
    --text: #444;
    --text2: #999;
}

* {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: var(--c3);
    margin-right: 3rem;
    margin-left: 1rem;
}

html {
    font-size: 24px;
    color: var(--text);
}

#content {
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
}

h1 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 20px;
    background-color: var(--c2);
    color: white;
    width: 100%;
    padding: 0;
    margin: 0;
    height: 100px;
    line-height: 100px;
    transition: .5s;
}

h1:hover {
    background-color: var(--c3);
}

h2 {
    font-size: 30px;
    margin-bottom: 20px;
    width: fit-content;
    border-bottom: 3px solid var(--c1);
    border-left: 12px solid var(--c1);
    padding-left: 0.5rem;
    padding-bottom: 5px;
    padding-right: 2rem;
    margin-top: 2.5rem;
    margin-bottom: 1.5rem;
    margin-left: 1rem;
    transition: .3s;
}

h2:hover {
    border-bottom: 3px solid var(--c3);
    border-left: 12px solid var(--c3);
}

.text {
    margin-bottom: 0.5rem;
    margin-top: 1rem;
    padding-left: 1rem;
    line-height: 2rem;
}

.para {
    text-indent: 2rem;
}

.image {
    width: 90%;
    max-width: 400px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 1rem;
    margin-bottom: 1rem;
    /* style */
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    transition: .5s;
}

.image:hover {
    border-radius: 0;
}

.note {
    color: var(--text2);
}

.code {
    background-color: #eee;
    font-family: Consolas, "Liberation Mono", Courier, monospace;
    border-radius: 10px;
    padding: 2px;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    color: var(--c3);
}

#blank {
    height: 100px;
}

#eof {
    margin-top: 20px;
    margin-bottom: 40px;
    color: #555;
    text-align: center;
}

#witch {
    font-size: 16px;
    text-align: center;
    color: #888;
    margin-bottom: 40px;
    cursor: pointer;
}

/* hide */
#hide-box {
    display: none;
    width: 80%;
    height: 70%;
    max-width: 900px;
    background-color: #ddd;
    position: fixed;
    z-index: 30;
    /* center */
    left: 50%;
    top: 10%;
    transform: translateX(-50%);
    /* style */
    border: 1px solid #eee;
    border-radius: 10px;
    box-shadow: 5px 5px 20px #999;
}

#hide-title {
    text-align: center;
    padding: 5px;
}

#hide-text {
    position: relative;
    height: 80%;
    overflow: scroll;
    background-color: #eee;
    margin-left: 1rem;
    margin-right: 1rem;
    padding-left: .5rem;
    padding-right: .5rem;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #aaa;
}

#hide-hide {
    position: relative;
    font-size: 20px;
    padding: 5px;
    padding-left: 1rem;
    padding-right: 1rem;
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
}

/* auto image */
#auto-image {
    overflow: hidden;
    width: 100%;
    transition: all 0.5s;
    text-align: center;
}

#auto-image-inner {
    width: 90%;
    height: 90%;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#auto-image-img {
    height: 100%;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.7);
}

.aimg-hide {
    height: 0;
}
.aimg-show {
    height: calc(100vh - 100px);
}